nav {
  display: flex;
  padding: 12px 60px;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  color: #36cb45;
}

.logo {
  font-family: "Irish Grover", system-ui;
  font-size: 32px;
}

.logo-span {
  color: #cb4836;
}

.nav-items {
  display: flex;
  gap: 24px;
  color: #8a8a8a;
}
